* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, Arial, sans-serif;
}

body {
  background: #020617;
  color: #e5e7eb;
  line-height: 1.7;
}

/* HEADER */
.header {
  padding: 70px 10% 60px;
  border-bottom: 1px solid #1e293b;
}

.subtitle {
  margin-top: 10px;
  color: #94a3b8;
}

.links {
  margin-top: 25px;
}

.links a {
  margin-right: 18px;
  color: #38bdf8;
  text-decoration: none;
}

/* SECTIONS */
.section {
  padding: 80px 10%;
}

.section.muted {
  background: #020617;
}

.section h2 {
  margin-bottom: 25px;
}

.section p {
  max-width: 850px;
  margin-bottom: 15px;
  color: #cbd5f5;
}

/* TECH STACK */
.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-top: 30px;
}

.tech-card {
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #1e293b;
}

/* PROJECTS */
.project-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 35px;
}

/* 3D CARD */
.card {
  perspective: 1000px;
}

.card-inner {
  position: relative;
  height: 230px;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  inset: 0;
  padding: 25px;
  border-radius: 14px;
  border: 1px solid #1e293b;
  background: #020617;
  backface-visibility: hidden;
}

.card-front p {
  margin-top: 12px;
  color: #94a3b8;
}

.card-back {
  transform: rotateY(180deg);
}

.card-back p {
  margin-bottom: 15px;
}

.card-back a {
  color: #38bdf8;
  text-decoration: none;
}

/* FOOTER */
footer {
  padding: 50px;
  text-align: center;
  color: #64748b;
  border-top: 1px solid #1e293b;
}
/* EXPERIENCE */
.experience-card {
  max-width: 850px;
  padding: 30px;
  border: 1px solid #1e293b;
  border-radius: 14px;
}

.experience-card .company {
  margin: 10px 0 15px;
  color: #94a3b8;
}

.experience-card ul {
  padding-left: 18px;
  margin-bottom: 15px;
}

.link-btn {
  display: inline-block;
  margin-top: 10px;
  color: #38bdf8;
  text-decoration: none;
}

/* TIMELINE */
.timeline {
  position: relative;
  margin-top: 30px;
  padding-left: 30px;
  border-left: 2px solid #1e293b;
}

.timeline-item {
  margin-bottom: 35px;
  position: relative;
}

.timeline-dot {
  position: absolute;
  left: -9px;
  top: 6px;
  width: 14px;
  height: 14px;
  background: #38bdf8;
  border-radius: 50%;
}

.timeline-content h3 {
  margin-bottom: 6px;
}

/* CERTIFICATIONS */
.cert-list li {
  margin-bottom: 12px;
}

.cert-list a {
  color: #38bdf8;
  text-decoration: none;
}
